@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 20px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.logo {
  width: 100%;
  height: 23px;
  padding-right: 25px;
  cursor: pointer;
  opacity: 0;
  animation: slidein 0.3s ease-in-out forwards;
  transform: translateX(-20px);
}

.left > a {
  align-self: center;
  font-size: 13px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(72, 63, 63);
  list-style: none;
}

.right {
  display: flex;
  gap: 10px;
  animation: slideleft 0.3s ease-in-out 0s 1 normal;
}

#icons {
  height: 16px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline 1px black;
  text-underline-offset: 6px;
}

#bars {
  /* padding: 5px; */
  display: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline;
}

.drop-btn {
  background-color: transparent;
  border: none;
}

.drop-content {
  display: none;
  position: absolute;
  min-width: 90px;
  right: 0px;
  top: 25px;
  z-index: 1000;
}

.drop-content a {
  display: block;
  font-size: 13px;
  padding: 5px;
  text-decoration: none;
  background: rgba(72, 63, 63, 0.168);
  color: #000000;
}

.drop-content :hover {
  text-decoration: underline 1px black;
  text-underline-offset: 6px;
}

.deals-section {
  margin: 20px 0px;
  background-image: url(assets/images/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: (205, 201, 201);
  background-position: top;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 80px;
}

.d-info {
  text-align: center;
}

h2 {
  font-size: 19.5px;
}

p {
  font-size: 13px;
  padding: 12px 0px 20px;
}

.btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
}

.btn:hover {
  background-color: #616161;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
}

.card-image {
  width: 100%;
  margin-bottom: 15px;
}

.p-info {
  opacity: 0;
  animation: slidein 0.1s ease-in-out forwards;
}

.p-info:nth-child(1) {
  animation-delay: 0.1s;
}
.p-info:nth-child(2) {
  animation-delay: 0.4s;
}
.p-info:nth-child(3) {
  animation-delay: 0.7s;
}
.p-info:nth-child(4) {
  animation-delay: 1s;
}

.p-info:hover {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transform: scale(1.01);
}

.info {
  padding: 7px 0px 15px;
  font-size: 13px;
  text-align: justify;
}

.learn {
  height: 18px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: rgb(0, 103, 184);
  padding: 5px 0px;
  padding-bottom: 5px;
  cursor: pointer;
}

#learnrt {
  color: rgb(0, 103, 184);
}

.learn:hover {
  padding-right: 5px;
}

.xbox-section {
  height: 360px;
  margin: 25px 0px 10px;
  background-image: url(assets/images/xbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: slideleft 1s ease-in-out 0s 1 normal;
}

.x-info {
  font-size: 9px;
  width: 40%;
  padding: 10% 4% 6%;
}

footer {
  background-color: #f2f2f2;
  padding: 20px 40px;
}

.weblinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  gap: 15px;
}
.link-list {
  width: fit-content;
}

.link-head {
  color: #616161;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.links {
  text-decoration: none;
  list-style: none;
  color: #616161;
  font-size: 12px;
}

.links li {
  padding: 8px 0px;
}

.ft-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-ft {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.left-item {
  font-size: 12px;
  text-decoration: none;
  color: #616161;
}

.right-ft {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.right-item {
  font-size: 11px;
  text-decoration: none;
  color: #616161;
}

/* Animation CSS */
/* nav menu Animation*/
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

/* logo and product Animation */
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* icons and xbox animation */
@keyframes slideleft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Query */
@media (max-width: 620px) {
  .left > a {
    display: none;
  }

  .dropdown {
    position: relative;
    display: block;
  }

  #bars {
    display: inline-block;
  }

  .dropdown:focus-within .drop-content {
    display: block;
  }
}

@media (max-width: 620px) {
  .xbox-section {
    background-size: cover;
    background-position: center;
    background-color: rgb(205, 201, 201);
    background-blend-mode: darken;
  }

  .x-info {
    background-color: rgba(205, 201, 201, 0.5);
    border: none;
    /* backdrop-filter: blur(5px); */
    width: 100%;
    padding: 10% 4% 6%;
  }
}
